<p id="notice"><%= notice %></p>

<p>
  <strong>Booked table number:</strong>
  <%= @booking.board_id %>
</p>
<p>
  <strong>Booked by: </strong>
  <%= @booking.booked_by %>
</p>
<p>
  <strong>Booked for: </strong>
  <%= @booking.booking_time %>
</p>
<% if @booking.order_comment.present? %>
  <p>
    <strong>Order comment: </strong>
    <%= @booking.order_comment %>
  </p>
<% end %>
<p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', boards_path %>