<%= form_with(model: board) do |form| %>
  <div class="field">
    <p>
      <%= form.label :board_number %>
    </p>
    <%= form.text_field :board_number %>
    <p>
      <%= form.label :board_seats %>
    </p>
    <%= form.text_field :board_seats %>
    <p>
      <%= form.label :floor %>
    </p>
    <%= form.number_field :floor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>