<p id="notice"><%= notice %></p>

<h1>Boards</h1>

<table>
  <thead>
    <tr>
     <th>Number</th>
      <th>Seats</th>
     <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
   <% @boards.each do |board| %>
    <tr>
      <td><%= board.board_number %></td>
      <td><%= board.board_seats %></td>
      <td><%= link_to 'Show', board %></td>
    </tr>
   <% end %>
  </tbody>
</table>

<br>

<% if Date.tomorrow.strftime('%A') == 'Sunday' %>
<strong>We are closed on Sundays, sorry</strong>
  <% else %>
<%= link_to 'Back', root_path %>
<% end %>