<p id="notice"><%= notice %></p>

<p>
  <strong>Board number:</strong>
  <%= @board.board_number %>
</p>
<p>
  <strong>Total seats: </strong>
    <%= @board.board_seats %>
</p>

<% if @board.booked == true %>
  <p>
    <strong>All bookings: </strong>
    <% @board.bookings.each do |x| %>
    <li><%= "Starts at #{x.booking_time}" %></li>
  <% end %>
  </p>
<% else %>
  <div id="new_booking">
    <%= link_to 'Book a table', new_board_booking_path(@board), remote: true %>
  </div>
<% end %>

<%= link_to 'Back', boards_path %>