<!DOCTYPE html>
<html>
  <head>
    <title>ABCrestaurant</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="abc_header">
    <a class="logoLink" href="<%= root_path %>">
      <img class="abc_logo" src="<%= asset_url 'logo.png' %>"  alt="ABC Logo">
    </a>

<!--    <span style="float: right">-->
      <%= link_to 'Book a table', boards_path, class: "navButton" %>
      <%= link_to 'Menu', dishes_path, class: "navButton" %>
<!--    </span>-->
  </header>

  <body>
    <div class="container">
      <%= yield %>

    </div>
  </body>
</html>
